.scroll_item {
    background: #C9CFD3;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 35px;
    border-radius: 50%;
}

.active {
    background: #0D7BAB;
}